.warp {
    height: '144rpx';
    width: '100vw'
}

.text {
    color: '#878787';
    font-size: '28rpx';
    line-height: '32px';
}

.image {
    width: '80rpx';
    height: '80rpx';
    border-radius: '40rpx';
}