.tabWrapper {
  position: relative;
  z-index: 1000;
  width: 292rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 32rpx;
}

.tabItem {
  text-align: center;
  margin-left: 32rpx;
}

.tabIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76rpx;
  height: 76rpx;
  border-radius: 24rpx;
  background: rgba(255, 255, 255, 0.1);
}
.tabIcon {
  width: 60rpx;
  height: 60rpx;
}
.tabTitle {
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.dimmerWrapper {
}
.dimmerStripWrapper {
  position: relative;
  padding-top: calc(20 / 714 * 100vh);
  padding-bottom: 120rpx;
}