.content {
  display: flex;
  margin: 42rpx 64rpx 16rpx 64rpx;
  flex-wrap: wrap;
}

.nameTag {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 32rpx;
  min-width: 190rpx;
  height: 64rpx;
  margin-right: 32rpx;
  margin-bottom: 32rpx;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nameText {
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 32rpx;
  font-weight: 500;
  color: rgba(0,0,0,0.9)
}

.controlBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 48rpx;
}

.buttonCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 64rpx;
  border: 4rpx #5D68FE solid;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  width: 288rpx;
  height: 112rpx;
}

.buttonConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D68FE;
  border-radius: 64rpx;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  width: 288rpx;
  height: 112rpx;
}