page {
  overflow-y: hidden;
  background: rgba(224, 233, 237, 1);
}

.w-full {
  width: 100vw;
}

.h-full {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}


.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}