.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  height: 60rpx;
  width: 100vw;
  position: fixed;
  z-index: 100;
}
.tabItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rpx;
  width: 300rpx;
}
.warp {
  height: calc(100vh - 100rpx);
  // min-height: calc(100% - 100rpx);
  width: 100%;
  margin-top: 80rpx;
  background-color: #fff;
}

.modalWarp {
  flex: 1;
  overflow: hidden;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  height: 180rpx;
  width: calc(100% - 40rpx);
  border-radius: 20rpx;
  margin: 0 0 20rpx 20rpx;
  padding: 20rpx;
}

