.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0 32rpx;
  padding-bottom: 48rpx;
}

.picker {
  width: 560rpx;
  height: 560rpx;
  position: relative;
  margin-top: 24rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.pickerRc {
  position: absolute;
  left: -32rpx;
  top: -32rpx;
}

.collectList {
  margin-top: 64rpx;
  order: 2;
}

.slider {
  margin-top: 48rpx;
  width: calc(100vw - 112rpx);
  order: 3;
}
