.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.inputWarp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24rpx;
}

.text {
    margin-right: 20rpx;
}

.btnWarp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20rpx;
}

.btn {
    width: 200rpx;
    height: 60rpx;
    background-color: #fff;
    border-radius: 10rpx;
    margin-top: 40rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30rpx;
    color: #fff;
}

