.moreWrapper {
  padding: 48rpx 32rpx;
  color: #fff;
}
.moreItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48rpx;
  margin-bottom: 24rpx;
  width: 686rpx;
  height: 140rpx;
  border-radius: 32rpx;
  border: 2rpx solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, #000000, #000000);
}
.iconItem {
  width: 33rpx;
  height: 33rpx;
  margin-right: 32rpx;
}
.iconRight {
  width: 10rpx;
  height: 20rpx;
}

.moreTitle {
  font-size: 28rpx;
  line-height: 40rpx;
}
