.listItem {
  width: 100vw;
  display: flex;
  padding: 24rpx;
  background-color: #fff;
  flex-direction: row;
  margin-bottom: 16rpx;
}

.avatar {
  width: 96rpx;
  height: 96rpx;
  border-radius: 48rpx;
  margin-left: 24rpx;
  background-color: #f8f8f8;
}

.right {
  margin-left: 24rpx;
}

.content {
  display: flex;
  flex-direction: 'row';
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 32rpx;
  color: #333;
  max-width: 340rpx;
  margin-right: 20rpx,
}

.adminTag {
  display: flex;
  background-color: rgba(35,156,142,0.1);
  border-radius: 2rpx;
  height: 32rpx;
  justify-content: center;
}

.adminTagText {
  font-size: 24rpx;
  font-weight: bold;
  max-width: 170rpx;
}

.subTitle {
  font-size: 24rpx;
  color: '#999';
  margin-top: 20rpx
}

.timeView {
  margin-top: 28rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeText {
  font-size: 24rpx;
  color: #999;
  max-width: 466rpx;
}

.expiredText {
  font-size: 24rpx;
  color: #ff0000;
}

.imageList {
  display: flex;
  margin-top: 18rpx;
  flex-direction: row;
}

.imageListItem {
  display: flex;
  align-items: center;;
}

.fingerText {
  margin-left: 4rpx;
  margin-right: 34rpx;
  font-size: 24rpx;
  color: '#999';
}