.batteryView {
  position: absolute;
  top: 0;
  left: 56rpx;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 48rpx;

}