.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0rpx 120rpx;
    overflow: scroll;
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .imageWrap {
        width: 50rpx;
        height: 50rpx;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .image {
        width: 100%;
        height: 100%;
      }
      .text {
        color: #666666;
        font-size: 24rpx;
      }
    }
  }
  