@import '@/mixins.less';

page {
  font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
  font-size: 24rpx;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  .safe-area-padding-bottom();
}
