@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659513983328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--sun:before {
  content: "\ec5e";
}

.icon-icon-sun2:before {
  content: "\ec5f";
}

.icon--sun3:before {
  content: "\ec60";
}

