@font-face {
  font-family: "iconfont"; /* Project id 3608428 */
  src: url('iconfont.ttf?t=1662004041851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line:before {
  content: "\e604";
}

.icon-rectangle:before {
  content: "\e605";
}

