.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24rpx;
  flex: 1;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90vw;
  padding: 16rpx 0;
  border-radius: 12rpx;
  margin-bottom: 16rpx;
}

.titleWarp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 16rpx;
  border-bottom: 1rpx solid #f0f0f0;
}

.title {
  margin-left: 8rpx;
  font-size: 32rpx;
  color: #333;
  font-weight: 600;
}

.unlockItemWarp {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16rpx;
  border-bottom: 1rpx solid #f0f0f0;
}

.unlockText {
  font-size: 32rpx;
  color: #333;
}

.tagWarp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.specialTag {
  display: flex;
  background-color: #ffefde;
  border-radius: 8rpx;
  padding: 8rpx;
  margin: 8rpx;
  margin-left: 0rpx;
  justify-content: center;
}

.specialTagText {
  font-size: 24rpx;
  color: #ff6c00;
}

.addWarp {
  display: flex;
  flex-direction: row;
  height: 96rpx;
  align-items: center;
  justify-content: center;
}
