.warp {
  display: flex;
  flex-direction: column;
  height: 1200rpx;
  width: 100%;
  margin: 34rpx 0;
}

.listWarp {
  flex: 1;
  overflow: hidden;
}

.list {
  height: 400rpx;
}

.valueWarp {
  height: 300rpx;
  width: 600rpx;
  margin: 0 40rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valueView {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {	
  display: block;
  font-family: PingFang SC;
  font-size: 28rpx;
  font-weight: bold;
  text-align: right;
  width: 280rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}

.valueText {	
  display: block;
  font-family: PingFang SC;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 300rpx;
  overflow: hidden;
  color: #000;
}
