.passwordWrap {
  height: 140rpx; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50rpx 0; 
  position: relative;
  width: 100%;
}

.copyBtn {
  position: relative;
  top: -228rpx;
  right: -224rpx;
}
.text {
  position: relative;
  top: -160rpx;
  font-size: 64rpx;
}
