.sceneWrapper {
  height: 100vh;
  overflow: auto;
  .sceneUpdateTip {
    margin-top: 10rpx;
    margin-bottom: 38rpx;
    width: 670rpx;
    height: 140rpx;
  }
  .sceneList {
    margin-top: 38rpx;
    padding-bottom: 196rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sceneItem {
    position: relative;
    width: 343px;
    height: 96px;
    border-radius: 16px;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(0deg, #000000, #000000);
    margin-bottom: 24rpx;
  }
  .sceneName {
    position: absolute;
    top: 32rpx;
    left: 32rpx;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
  }
  .sceneNew {
    position: absolute;
    width: 68rpx;
    height: 46rpx;
    top: 16rpx;
    right: -8rpx;
  }
}
