.contain {
  display: flex;
}

.left {
  width: 128rpx;
  height: 84rpx;
  border-top-left-radius: 42rpx;
  border-bottom-left-radius: 42rpx;
  background-color: #323636;
  text-align: center;
  line-height: 84rpx;
  color: #fff;
  font-size: 32rpx;
}
.right {
  margin-left: 2rpx;
  width: 128rpx;
  height: 84rpx;
  border-top-right-radius: 42rpx;
  border-bottom-right-radius: 42rpx;
  background-color: #323636;
  text-align: center;
  line-height: 84rpx;
  color: #fff;
  font-size: 32rpx;
}

.active {
  background-color: rgba(255, 255, 255, 0.25);
}
