.contain {
  display: flex;
  justify-content: space-between;
  padding: 0 32rpx;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 32rpx;
  width: 100vw;
  z-index: 2;
}

.batteryText {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24rpx;
  margin-top: 8rpx;
}

.battery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
