.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg {
    height: 480rpx;
    width: 480rpx;
    animation: rotateImage 3s linear infinite;
  }
  .children {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
