.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .safeImage {
      margin-right: 8rpx;
      width: 36rpx;
      height: 36rpx;
      color: #59A4F8;
    }
    .safeText {
      color: #666666;
      font-size: 24rpx;
    }
    .tip {
      font-size: 24rpx;
      color: #59A4F8;
      margin: 0 10rpx;
    }
  }
  