.container {
  display: flex;
  flex: 1;
  margin-top: 20rpx;
}
.listWrap {
  display: flex;
  flex: 1;
}

.list {
  padding-left: 32rpx;
  padding-right: 32rpx;
  height: 100%;
}

.inValidText {
    color: #999;
    font-size: 24rpx;
}

.inValid {
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inValidBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrowImg {
  margin-left: 16rpx;
  width: 12rpx;
  height: 20rpx;
}
