.musicWrapper {
  padding: 0 32rpx;
  height: 100vh;
  padding-bottom: 200rpx;
  overflow: auto;
}

.musicTipWrapper {
  margin-bottom: 32rpx;
  margin-left: 8rpx;
}
.musicTip {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 17px;
}