.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.btn {
  position: absolute;
  top: 32rpx;
  right: 32rpx;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4422ee;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
}
.chart {
  height: 500rpx;
}
.chartLandscape {
    flex: 1;
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-bottom: constant(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-left: constant(safe-area-inset-left, 0px);
  }
