.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  margin-top: 20rpx;
  min-height: 362rpx;
  padding: 32rpx;
  background-color: #fff;
  margin-bottom: 20rpx;
}

.customForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  padding-top: 28rpx;
  padding-left: 32rpx;
  padding-right: 32rpx;
  padding-bottom: 64rpx;
  background-color: #fff;
}

.header {
  min-height: 166rpx;
  padding-left: 32rpx;
  padding-right: 32rpx;
  padding-top: 32rpx;
  padding-bottom: 32rpx;
  background-color: #fff;
  margin-bottom: 20rpx;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.deletePassword {
  padding-left: 32rpx;
  padding-right: 32rpx;
  padding-top: 22rpx;
  padding-bottom: 22rpx;
  border-radius: 16rpx;
  background-color: #f8f8f8;
  border-width: 2rpx;
  border-color: #ddd;
  margin-top: 20rpx;
}

.inputWarp {
  width: 74vw;
  margin-top: 40rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.customFooterButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-bottom: 68rpx;
  padding-top: 16rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
}

.text {
  color: #fff;
  font-size: 32rpx;
}

.btnWrap {
  width: 400rpx;
  height: 96rpx;
  margin-bottom: 40rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16rpx;
}
