.item {
  position: relative;
  display: flex;
  height: 68px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  margin-top: 8px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.05);
}

.right {
  display: flex;
  width: 65px;
  height: 100%;
  font-size: 15px;
  color: #fff;
  background-color: #ee0a24;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.textWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.textNo {
  display: inline-block;
  margin-right: 4px;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

.textScene {
  white-space: nowrap;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.imageIcon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 10px;
  height: 10px;
}
