.view {
  background: url("../../res/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.curtainBox {
  position: absolute;
  top: 200rpx;
  left: 0;
  width: 100%;
  padding: 0 72rpx;
  // height: 460rpx;
  background: url("../../res/main.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.curtain {
  position: relative;
  width: 606rpx;
  height: 100%;
}

.control {
  width: 500rpx;
  height: 136rpx;
  margin: 40rpx auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.controlOpen {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../res/open.png");
  background-size: 40rpx 40rpx;
  width: 96rpx;
  height: 80rpx;
  border-radius: 999rpx;
  background-color: rgba(255, 255, 255, .1);
}

.controlClose {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../res/close.png");
  background-size: 40rpx 40rpx;
  width: 96rpx;
  height: 80rpx;
  border-radius: 999rpx;
  background-color: rgba(255, 255, 255, .1);
}

.controlStop {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../res/stop.png");
  background-size: 50rpx 50rpx;
  width: 136rpx;
  height: 136rpx;
  border-radius: 999rpx;
  background-color: rgba(221, 8, 8, 0.2);

}