.page {
  overflow: hidden;
}

.view {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image {
  width: 80px;
  height: 80px;
}

.center {
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: column;
  height: 80rpx;
  border-radius: 40rpx;
  justify-content: center;
  margin-left: 40rpx;
  margin-right: 40rpx;
  margin-top: 40rpx;
  width: 90%;
  color: white;
  position: relative;
}

.devName {
  padding: 1px 20px 1px 20px;
  margin-bottom: 32rpx;
  font-size: 22px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 600rpx;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.greyCard {
  border-radius: 32rpx;
  height: 132rpx;
  align-items: center;
  padding: 48rpx 32rpx;
  width: calc(50% - 8rpx);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, .2);
  display: flex;
  &:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 18rpx;
  }
  .funcTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .icon {
    margin-right: 18rpx;
    width: 48rpx;
    height: 48rpx;
  }

  .label {
    font-size: 28rpx;
    font-weight: 400;
  }

  .value {
    font-size: 28rpx;
    font-weight: 600;
    color: #1961ce;
  }
}

.title {
  margin-bottom: 18rpx;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #fff;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
