.container {
  display: flex;
  flex: 1;
  margin-top: 20rpx;
}
.listWrap {
  display: flex;
  flex: 1;
}

.list {
  padding-left: 32rpx;
  padding-right: 32rpx;
  height: 100%;
}

.circleButton {
  position: fixed;
  bottom: 100rpx;
  right: 20rpx;
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  background-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24rpx;
  box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.1);
}
