.contain {
  padding-bottom: 120rpx;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.workModeWrap {
  position: absolute;
  bottom: 32rpx;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
